# description of this workflow, can be anything you want
name: Package and release

# we need to let GitHub know _when_ we want to release.
# this is typically only when we create a new tag.
# make sure your tags are annotated!
on:
  release:
    types: [created]

# a workflow is built up as jobs, and within these jobs are steps
jobs:
  build:
    runs-on: ubuntu-latest
    permissions: 
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run Packager
        uses: BigWigsMods/packager@master
        env:
          CF_API_KEY: ${{ secrets.CF_API_KEY }}
          WAGO_API_TOKEN: ${{ secrets.WAGO_API_TOKEN }}
          GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
